.kirby {
    position: relative;
    &__body {
        @include circle-mixin(450px, $primary);
        &__face {
            animation: face-animation 0.45s infinite alternate;
            @include bounce-animation(face-animation, margin-top, 0, -20);
            @extend %absolute;
            width: 150px;
            height: 210px;
            top: calc(50% - (300px/2));
            left: calc(50% - (150px/2));
            &__eye {
                .blink {
                    width: 100%;
                    height: 160px;
                    border-radius: 0 0 25px 25px;
                    background-color: $primary;
                    animation: eye-keyframe 1s infinite linear;
                    @include blink-animation(eye-keyframe, 0, 160);
                    position: relative;
                    z-index: 1;
                }
                &:nth-child(1) {
                    .blink {
                        animation-delay: 0s;
                    }
                }
                &:nth-child(2) {
                    .blink {
                        animation-delay: 0.03s;
                    }
                }
                @extend %absolute;
                width: 40px;
                height: 150px;
                background-color: black;
                border-radius: 50%;
                top: 0;
                &--right {
                    right: 0;
                }
                &--left {
                    left: 0;
                }
                &::after,
                &::before {
                    content: '';
                    z-index: 0;
                }
                &:before {
                    @extend %absolute;
                    width: 40%;
                    height: 30%;
                    background-color: white;
                    box-shadow: 0px 0px 10px 0px white;
                    border-radius: 50%;
                    top: 5px;
                    left: calc(50% - (10px/2));
                }
                &:after {
                    @extend %absolute;
                    width: 50%;
                    height: 40%;
                    background: linear-gradient(180deg, black 0%, blue 136%);
                    border-radius: 0 0 50% 50%;
                    bottom: 15px;
                    left: calc(50% - (50%/2));
                }
            }
            &__cheek {
                @extend %absolute;
                width: 90px;
                height: 30px;
                background-color: rgba($cheek-color, 0.65);
                box-shadow: inset 0px 0px 30px 0px $primary;
                border-radius: 50%;
                top: 143px;
                &--right {
                    right: -100px;
                }
                &--left {
                    left: -100px;
                }
            }
            &__mouth {
                animation: mouth-keyframe 0.45s infinite alternate;
                @include bounce-animation(mouth-keyframe, height, 60, 50);
                @extend %absolute;
                margin: 0 auto;
                width: 70px;
                height: 50px;
                background-color: lighten($secondary, 10%);
                border-radius: 5% 5% 50% 50%;
                bottom: 0;
                left: calc(50% - (70px/2));
                box-shadow: inset 0px 10px 20px -10px darken($secondary, 30%);
            }
        }
    }
    &__arm {
        @extend %extremity;
        width: 135px;
        height: 65%;
        border-radius: 50% 50% 0 0;
        background-color: darken($primary, 2%);
        top: -50px;
        left: calc(50% - (135px/2));
        transform-origin: bottom center;
        animation: 0.45s infinite alternate;
        &--right {
            transform: rotateZ(60deg);
            animation-name: arm-animation-left;
            @include salute-animation(arm-animation-left, 70, 80);
        }
        &--left {
            transform: rotateZ(-60deg);
            animation-name: arm-animation-right;
            @include salute-animation(arm-animation-right, -70, -80);
        }
    }
    &__foot {
        @extend %extremity;
        width: 185px;
        height: 230px;
        border-radius: 0 0 50% 50%;
        background-color: $secondary;
        bottom: -50px;
        &--right {
            right: -50px;
            transform: rotateZ(-45deg);
        }
        &--left {
            left: -50px;
            transform: rotateZ(45deg);
        }
    }
}

%extremity {
    position: absolute;
    z-index: -1;
}

%absolute {
    position: absolute;
}